:root {
  --theme-color-1: #c293f8;
  --theme-color-2: #1eae98;
  --shadow-color-1: #90ee90;
}

.simp {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    var(--theme-color-1),
    var(--theme-color-2)
  );
  z-index: -1;
}

.simp:hover {
  cursor: default;
}

.page-bg {
  background-color: #fafafa;
  min-height: 90vh;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 3rem;
}

nav {
  width: 100vw;
  padding: 10px;
  background: transparent;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.nav-logo {
  margin-left: 3rem;
  height: 100px;
  width: auto;
}

.no-margin {
  margin: 0;
}

.no-underline {
  text-decoration: none;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.center-x {
  align-items: center;
  text-align: center;
}

.inline {
  display: inline;
}
.border {
  border: 1px solid #000;
}

ul {
  margin-left: auto;
  margin-right: 3rem;
  list-style: none;
  padding: 0;
  border: 1px;
}

li {
  display: inline;
  margin: 0 10px;
  padding: 1rem;
}

.purple-shadow {
  color: white;
  font-weight: 600;
  text-shadow: 8px 8px 15px var(--theme-color-1), 
  8px 8px 15px var(--theme-color-1);
}


.gold-shadow {
  color: rgb(141, 236, 0);
  font-weight: 600;
  text-shadow: 8px 8px 15px greenyellow, 
  8px 8px 15px greenyellow;
}

.gold {
  color: rgb(141, 236, 0);
}

.my-card {
  height: 350px;
  width: 100%;
  filter: brightness(0.95);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column-reverse;
}

.my-card:hover {
  transform: scale(1.1);
  transition: 0.8s;
  box-shadow: 8px 8px 15px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.br {
  height: 10vh;
}

.trans-bg {
  background-color: rgba(20, 119, 104, 0.4);
}

.trans-bg:hover {
  background-color: rgb(23, 118, 104, 0.8);
  transition: 0.8s;
}

.bottom-y {
  justify-content: flex-end;
  align-items: flex-end;
}

.img-fit {
  object-fit: cover;
  height: 100%;
  width: 100%;
}